html, body{
    margin:0;
    padding:0;
    background-color: #424242;
    color: white;
}
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    text-align: center;
}
#todoliste_container{
    background: gold;
    color: #000;
    padding:20px;
    text-align: center;
}
ul#todoliste{
    margin:auto ;
    width: 300px;
    list-style: none;
    text-align: left;
}
